<div class="card w-100">
  <div class="card-body">
    <p>
      Dear <%= @resource.name %>,
    </p>
    <div class="mb-3"></div>
    <p>Reset your password by clicking the link below. Your password won't change until you access the link above and create a new one.</p>
    <div class="mb-3"></div>
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
  </div>
</div>
